<!DOCTYPE html>
<html>
<head>
	<title>This drag page</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/LearnDrag.css">
</head>
<body>
	<div style="height: 340px; border: 1px solid #ccc">
  <div class="draggable">
    <div class="dragger"></div>
    <h2>I'm a draggable sticky note</h2>
    <p>Some content for the draggable sticky note.</p>
    <ul>
      <li><a target="_blank" href="https://esstudio.site/blog/">Writing blog posts</a></li>
      <li>Getting groceries</li>
      <li>Leaving SEO spam on forums</li>
    </ul>
  </div>
</div>
  

</body>
<script type="text/javascript" src = "/javascripts/LearnDrag.js"></script>
</html>